body {
  padding-bottom: 20px;
  background-color: #fff;
  font-family: math;
}

#message{
  max-width: 500px;
  margin: 0 auto;
}
.form-signin {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 40px;
  border-radius: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-signin-heading{
  color: #25393f;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.form-signin .btn {
  margin-bottom: 10px;
}

input{
  margin-bottom: 15px;
}
label, p{
  color:#25393f
}

.bg_image{
    background-image: url(../images/bg_image.jpg);
    background-size: auto;
    filter: blur(3px);
    -webkit-filter: blur(3px);
/* Full height */
    height: 100%;

  /* Center and scale the image nicely */
    position: fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
}
#signin_form{
  margin-top:12%
}